.modal img {
    border: none;
    width: 200px;
    padding: 15px;
    margin-bottom: 30px;
}

.modal input {
    margin-right: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
}

.modal button {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 12px;
    margin-top: 20px;
    font-size: 20px;
    transition: background-color 0.25s ease;
}

.modal button:hover {
    background-color: hsl(0, 100%, 45%);
}

.modal button:active {
    background-color: hsl(0, 100%, 40%);
}