body {
  font-family: sans-serif, Arial;
  background-color: hsl(0, 0%, 20%);
  height: auto; 
  min-height: 100vh; 
  overflow: auto; 
}

.company-info {
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

#write-review-button {
  width: 25%;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}

#write-review-button:hover {
  background-color: hsl(0, 100%, 45%);
}

#write-review-button:active {
  background-color: hsl(0, 100%, 40%);
}

.page-btn {
  display: flex;
  justify-content: center;
}

.page-btn button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  background-color: hsl(222, 71%, 55%);
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}