body {
  font-family: sans-serif, Arial;
  background-color: hsl(0, 0%, 20%);
  height: auto; 
  min-height: 100vh; 
  overflow: auto; 
}

.company-info {
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

#write-review-button {
  width: 25%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

#write-review-button:hover {
  background-color: hsl(0, 100%, 45%);
}

#write-review-button:active {
  background-color: hsl(0, 100%, 40%);
}

#modal h1 {
  text-align: center;
}

#modal input, textarea {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid;
  margin: 15px;
  font-size: 20px;
  font-family: Tahoma;
}

#modal textarea {
  width: 225px;
  height: 225px;
}

#modal button {
  margin: 15px;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}

#submit-btn-modal {
  background-color: green;
}

#submit-btn-modal:hover {
  background-color: hsl(120, 100%, 30%);
}

#submit-btn-modal:active {
  background-color: hsl(120, 100%, 35%);
}

#close-btn-modal {
  background-color: red;
}

#close-btn-modal:hover {
  background-color: hsl(0, 100%, 45%);
}

#close-btn-modal:active {
  background-color: hsl(0, 100%, 40%);
}