body {
  font-family: sans-serif, Arial;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;
}

.company-info {
  color: white; 
  text-align: center;
  transform: translateY(-150px);
}